<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/list" class="nav-link active">Список</a>
    </li>
    <li class="nav-item">
        <a href="/add" class="nav-link">Добавить</a>
    </li>
</ul>
